* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1)
}

header {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px
}

header h1 {
    font-size: 1.8em;
    color: #333
}

.content,
.glossary {
    margin-bottom: 20px
}

.glossary h2 {
    font-size: 1.4em;
    margin-bottom: 10px
}

ul {
    margin-top: 10px;
    padding-left: 20px
}

ul li {
    margin-bottom: 5px
}

strong {
    font-weight: 700;
    color: #333
}

@media (max-width:600px) {
    .container {
        padding: 10px
    }

    header h1 {
        font-size: 1.5em
    }

    .glossary h2 {
        font-size: 1.2em
    }
}